
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<!-- jquery code here -->
<script>
 $(document).ready(function(){
  $('.checkvalue').click(function(){
   var txt =""
   $('.checkvalue:checked').each(function(){
    txt+=$(this).val()+","
   });
   $('#allvalues').val(txt);
  });
 });
</script>
<div class="container">
<h3>List of users and status</h3>
<form action="" method="POST">
 {% csrf_token %}
 <table>

{% if request.user.is_active%}
<tr>
   <th>Name</th>
   <th>User</th>
   <th>Staff</th>
{% if request.user.is_superuser %}
   <th>Superuser</th>
   <th>Delete-user</th>
{% endif %}
</tr>
{% for item in context %}
<tr>
<td>{{item.username}}</td>
 <td>
 <input type="checkbox", name="assign", value="User-{{item}}", class="checkvalue">
 </td>
 <td>
 <input type="checkbox", name="assign", value="Staff-{{item}}", class="checkvalue">
 </td>
 {% if request.user.is_superuser %}
 <td>
 <input type="checkbox", name="assign", value="Super_user-{{item}}", class="checkvalue">
 </td>
 <td>
 <input type="checkbox", name="assign", value="delete-{{item}}", class="checkvalue">
 </td>
 {% endif %}
</tr>
{% endfor %}
 {% endif %}
 </table>
 <div class="entry">
<input type="text", name="attendance", id="allvalues" size="100" class="inputs">
 <button type="submit" id="but1" value="Insert Record">submit</button>
 </div>
</form>
</div>

<style>
.container{
 background-color:aliceblue;
 width:600px;
 height:fit-content;
 padding:10px;
 margin:auto;
 margin-top:150px;
 border-radius:10px;
 border:2px solid rgba(0,0,0,0.2)
}
h3{
 text-align: center;
}
form{
 background-color:transparent;
 width:90%;
 height:250px;
 margin:auto;
 padding:10px;
 /* border-radius:10px; */
 /* border:2px solid rgba(0,0,0,0.2) */
}
table{
 background-color:transparent;
 width:100%;
 height:70%;
 border-collapse: collapse;
}
td{
 background-color:transparent;
 border:1px dotted rgba(0,0,0,0.2);
 text-align: center;
 width:20%
}
th{
 border:1px dotted rgba(0,0,0,0.2)
}
 button{
  background-color:transparent;
  width:15%;
  height:30px;
  cursor:pointer;
  margin:auto;
  margin-top:10px;
  border-radius:10px;
  border:1px solid rgba(0,0,0,0.2)
 }
 .entry{
 width:100%;
 background-color:transparent;
 margin-top:5px;
 margin:auto;
 display:flex;
 flex-direction: column;
 }
 .inputs {
 width:80%;
 height:25px;
 margin:auto;
 margin-top:5px;
 outline: none;
 border:1px solid rgba(0,0,0,0.2);
 border-radius:5px
 }
</style>