
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<!-- jquery code here -->
<script>
 $(document).ready(function(){
  $('.attendancecheckvalue').click(function(){
   var txt =""
   $('.attendancecheckvalue:checked').each(function(){
    txt+=$(this).val()+","
   });
   $('#attendanceallvalues').val(txt);
  });
 });
</script>
{% for item in context %}
<div class="container">
<form action="" method="POST">
 {% csrf_token %}
 <table>
  <tr class="head">
   <th>Name</th>
   <th>User</th>
   <th>Staff</th>
   <th>Super_user</th>
   <th>Remove</th>
  </tr>
  <tr>
   <td>{{item}}</td>
   <td>
    <input type="checkbox", id="check", name="assign", value="User-{{item}}", class="attendancecheckvalue" >
   </td>
   <td>
    <input type="checkbox", id="check", name="assign", value="Staff-{{item}}", class="attendancecheckvalue" >
   </td>
   <td>
    <input type="checkbox", id="check", name="assign", value="Super_user-{{item}}", class="attendancecheckvalue" >
   </td>
   <td>
        <input type="checkbox", id="check", name="assign", value="Delete-{{item}}", class="attendancecheckvalue" >
   </td>
  </tr>
 </table>
 {% endfor %}
 <br>
 <input type="text", name="attendance", id="attendanceallvalues" size="100">
 <button type="submit" id="but1" value="Insert Record">submit</button>
</form>
</div>
<!-- 
<style>
 .container{
  background-color:antiquewhite;
  width:50%;
  height:10%;
  margin:auto
 }
 form{
  background-color:azure;
  width:50%;
  height:50px;
  margin:auto;
 }
 label{
  background-color:aquamarine;
 }
 input{
  background-color:blue
 }
 
 button{
  cursor: pointer;
 }
</style> -->
<style>
 button{
  background-color:aqua;
  margin-top:40px;
  width:15%;
  height:20px;
  cursor:pointer
 }
</style>